body{
  display: flex;
  background: linear-gradient(25deg, #B8FFB9, #DCFFA5);
  overflow: hidden;
  margin: 0;
}
html{
  margin: 0;
}
.column-chat{
  display: flex;
  height: 100%;
}
form{
  display: flex;
    width: 300px;
}
.colomn{
  display: flex;
  flex-direction: column;
  width: 30vw;
  float: left;
  background-color: #212121;
}
.chat{
  display: flex;
  flex-direction: column;
  width: 70vw;
  float: right;
  overflow-x: hidden;
  overflow-y: scroll;
}
.panel{
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f0f5f0;
  overflow: scroll;
  /*
  border: 5px solid green;
  */
}
.window{
  display: flex;
  height: 80vh;
  /*border: 5px solid blue;
  */
}
.info{
  display: flex;
  height: 10vh;
  color: 
  /* border: 5px solid red;
  */
}
.search{
  justify-content: center;
  align-items: center;
  display: flex;
  flex: center;
  height: 10vh;
  /*
  border: 5px solid green;
  */
}
.contacts{
  display: flex;
  height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
  /*
  border: 5px solid black;
  */
}
.d27 {
  font-size: 2em; /* задает размер иконки */
  width: 0.3em;
  height: 0.3em;
  margin-bottom: 20px;
  border: 0.1em solid #52C8E4;
  position: relative;
  border-radius: 50%;
}
.d27:before {
  content: "";
  width: 0.3em;
  height: 0.08em;
  position: absolute;
  right: -0.25em;
  bottom: -0.1em;
  background: #52C8E4;
  transform: rotate(45deg);
}
/* Style the search field */
input[type=text] {
  font-size: 17px;
  border: 1px solid grey;
  width: 200px;
  border-radius: 15px;
  background: #f1f1f1;
}
.sendMessage{
  font-size: 17px;
  border: 1px solid grey;
  width: 500px;
  border-radius: 15px;
  background: #f1f1f1;
}
ul{
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.user{
  height: 100px;
  width: 400px;
  background-color:
}
.image{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  float: left;
}
.name{
  display: flex;
  justify-content: center;
  align-items: center;
  float:left;
  height: 100px;
  width: 200px;
  font-size: 20px;
  color: #fcfcfc;
  text-align: center;
}
